@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Reset */
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Design */

body {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 12px;
  font-weight: 400;
}

.login {
  margin: 100px auto;
  width: 350px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 19px 16px 18px;
}

.login::after {
  content: " ";
  display: block;
  clear: both;
}

.login h2 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.login-txt {
  margin-bottom: 16px;
}

.login-link {
  display: block;
  background-color: #711bff;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  padding: 12px;
  margin-bottom: 17px;
}

.logo-img {
  width: 64px;
  height: 12px;
  margin-right: 3px;
}

.find {
  float: left;
}

.join {
  float: right;
}

.find * {
  float: left;
}

.join * {
  float: left;
}

.lock-img, .user-img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.id-link, .pw-link, .join-link {
  color: #767676;
}

.id-link::after {
  content: " ";
  display: inline-block;
  width: 1px;
  height: 11px;
  background-color: #767676;
  margin: 0 4px;
  vertical-align: -1px;
}